body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #00c6ff, #0072ff);
    color: #333;
}

/* App Title */
.app-title {
    background: #0d6efd;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

/* Center Box */
.center-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

/* Card */
.card {
    background: white;
    padding: 25px;
    border-radius: 12px;
    width: 300px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

/* Form */
input, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

button {
    background: #0d6efd;
    color: white;
    border: none;
    border-radius: 6px;
}

/* Table */
table {
    width: 95%;
    margin: auto;
    background: white;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    border: 1px solid #ccc;
    text-align: center;
}

.delete {
    color: red;
    text-decoration: none;
    font-weight: bold;
}

/* Bottom total */
.total-box {
    margin: 20px auto;
    background: white;
    width: 250px;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    font-weight: bold;
  }
